---
import { Icon } from "astro-icon/components";
---

<div
    class="hello 
    before:(content-[''] box-content absolute w-100% h-100% top-[calc(0px-var(--border-width))]
     left-[calc(0px-var(--border-width))] rounded-16px -z-1 bg-clip-border p-[var(--border-width)]) 
    after:(content-[''] absolute top-0 left-0 right-0 bottom-0 rounded-16px -z-1 bg-[var(--bg-200)])
     mt-80px relative p-32px rounded-16px backdrop-blur-50px"
>
    <span
        class="absolute -top-32px text-48px transform-origin-bc animate-name-waving animate-duration-3000 animate-ease-linear animate-iteration-infinite"
        >👋</span
    >
    😊 I'am HuaYang, a front-end developers.
</div>

<style is:inline>
    @property --angle {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }

    .hello::before {
        --border-width: 3px;
        background-image: conic-gradient(
            from var(--angle),
            var(--accent-200) 0%,
            var(--accent-100) 100%
        );
        animation: rotate-deg 1s linear forwards infinite;
    }

    @keyframes rotate-deg {
        0% {
            --angle: 0deg;
        }

        100% {
            --angle: 360deg;
        }
    }

    @keyframes waving {
        0% {
            transform: rotateZ(-30deg);
        }

        50% {
            transform: rotateZ(30deg);
        }

        100% {
            transform: rotateZ(-30deg);
        }
    }
</style>
