---
import { getCollection } from "astro:content";

const docs = await getCollection("docs");
---

<ul class="recommendation">
    {
        docs.map((doc) => (
            <li>
                <span class="date">06\07\2024</span>
                <br />
                <span class="title">
                    <a href={doc.collection+'/'+doc.slug}>{doc.data.title}</a>
                </span>
            </li>
        ))
    }
</ul>

<style is:inline>
    .recommendation {
        border: 2px solid #211a2e;
        border-radius: 16px;
        padding: 2rem;
        list-style: none;
    }

    .recommendation > li {
        color: #3b6563;
        position: relative;
    }

    .recommendation > li::before {
        content: "";
        width: 8px;
        height: 8px;
        border: 2px solid gray;
        border-radius: 50%;
        position: absolute;
        left: -12px;
        top: 16px;
        transform: translate(-50%, -50%);
        /* animation: spin 10s ease-in-out infinite; */
    }

    @keyframes spin {
        0% {
            width: 8px;
            height: 8px;
        }

        50% {
            width: 12px;
            height: 12px;
        }

        100% {
            width: 8px;
            height: 8px;
        }
    }

    .recommendation > li > .date {
        color: rgb(22, 44, 31);
    }
    .recommendation > li > .title {
        cursor: pointer;
    }
</style>
