---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>YANGHUA</title>
	</head>
	<body>
		<Header />
		<main class="content">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: rgb(var(--accent-light));
	}
	* {
		box-sizing: border-box;
	}

	main {
		width: 800px;
		padding: 1rem;
		height: calc(100vh - 80px);
		margin: 0 auto;
		/* linear-gradient(
				to right,
				rgb(31, 28, 42) 2px,
				transparent 2px
			),
			linear-gradient(to bottom, rgb(31, 29, 41) 2px, transparent 2px), 
		
		radial-gradient(
			circle,
			rgb(34, 29, 41) 2px,
			transparent 2px
		)
		
			*/
		background-image: linear-gradient(
				to right,
				rgb(31, 28, 42) 2px,
				transparent 2px
			),
			linear-gradient(to bottom, rgb(31, 29, 41) 2px, transparent 2px);
		background-size: 20px 20px;
		background-position: center center;
	}

	/* @font-face {
		font-family: tutumianhuatang;
		src: url("/fonts/Tutumianhuatang-Bold-2.ttf");
	}

	.content {
		font-family: "tutumianhuatang";
	} */
</style>
